@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');

:root { color-scheme: light dark }

svg[aria-hidden='true'][height='0'] { position: fixed }

.video-text-container, .text-box { display: grid }
:is(.video-text-container, .text-box) > * { grid-area: 1/ 1 }

.video-text-container {
  container-type: inline-size;
  padding: .25rem;
  background: light-dark(#333, #ccc) content-box;

  video {
    --auto: 1;
    width: 100%;
    aspect-ratio: 16/ 9
  }

  .play-ctrl {
    --hov: 0;
    place-self: end start;
    z-index: 2;
    margin: .75em;
    border: solid 1px rgb(from currentcolor r g b/ .5);
    padding: .25em;
    width: 4em;
    border-radius: .375em;
    opacity: calc(1 - (1 - var(--hov))*.375);
    background: none;
    font: clamp(.625em, 4cqw, 1.375em) sans-serif;
    text-transform: uppercase;
    transition: opacity .35s;
    cursor: pointer;

    &:is(:hover, :focus) { --hov: 1 }

    &:focus-visible {
      outline: dotted 1px;
      outline-offset: -5px
    }
  }
}

.text-box { margin: -.25rem }

.text-content {
  display: grid;
  place-content: center;
  z-index: 1;
  font: 900 clamp(2rem, 30cqw, 25rem)/ 1.035cap rubik, sans-serif;
  letter-spacing: -.02em;
  text-align: center;
  text-transform: uppercase;

  &::selection {
    color: light-dark(#03045e, #98f5e1);
    background: rgb(from currentcolor r g b/ .3);
    text-shadow: 0 0 1px, 0 0 2px
  }
}

@media not (forced-colors: active) {
  .video-text-container { clip-path: inset(1px round .375em) }

  .text-box {
    --c: light-dark(#a9d6e5, #00171f);
    color: var(--c);
    filter: url(#extract)
      drop-shadow(0 0 2px var(--c))
      drop-shadow(2px 2px 4px #020202);

    &:not(.back-img):not(:has(> .text-context)) {
      background: rgb(from var(--c) r g b/ .8);
    }
  }

  .back-img {
    --back: conic-gradient(from 90deg at 1px 1px,
          var(--c) 25%, grey 0%)
        -.5px -.5px/ 3rem 3rem round;
    position: relative;
    color: #0000;
    background: var(--back);
    background-clip: text;

    &::after {
      position: absolute;
      inset: 0;
      opacity: .8;
      z-index: -1;
      background: inherit;
      background-clip: border-box;
      content: ''
    }
  }

  .back-img--multi {
    --back:
      linear-gradient(-45deg,
          light-dark(#a9d6e5, #023e7d),
          light-dark(#abc4ff, #33415c)),
      url(https://images.unsplash.com/photo-1454267286327-2161c04605ce?w=640)
        50%/ cover,
      light-dark(#dedede, #999);

    &::after { background-blend-mode: hard-light }
  }

  .text-context {
    --back: linear-gradient(45deg,
      light-dark(#a9d6e5, #002855), light-dark(#abc4ff, #33415c));

    opacity: .8;
    background: var(--back)
  }
}

@media (prefers-reduced-data: reduce),
  (prefers-reduced-motion: reduce) {
    .video-text-container video { --auto: 0 }
}

body {
  display: grid;
  grid-gap: 2em;
  grid-template-columns:
    repeat(auto-fit, minmax(min(100%, 40rem), 1fr));
  place-content: center;
  padding: 2em calc(.5em + sign(100vw - 20em)*6vw);
  background: light-dark(#89c2d9, #33415c);
  filter: drop-shadow(2px 2px 5px #0009)
}

.text-context {
  display: grid;
  place-items: end;
  padding: .5em;
  font-size: clamp(.75em, 8vw, 2.25em)
}
